pkgbase = frank-geary-bin
	pkgdesc = FrankGeary email client, prebuilt stable release binary
	pkgver = 0.11.2_dev
	pkgrel = 1
	url = https://github.com/akitaonrails/FrankGeary
	arch = x86_64
	license = LGPL2.1
	depends = desktop-file-utils
	depends = enchant-1
	depends = gcr
	depends = gtk3
	depends = libcanberra
	depends = libgee
	depends = libnotify
	depends = libsecret
	depends = libxml2
	depends = libsoup
	depends = sqlite
	depends = gmime-2.6
	depends = webkitgtk3
	provides = geary
	provides = frank-geary
	conflicts = geary
	conflicts = frank-geary
	noextract = frank-geary-0.11.2_dev-x86_64.tar.zst
	source = frank-geary-0.11.2_dev-x86_64.tar.zst::https://github.com/akitaonrails/FrankGeary/releases/download/0.11.2-dev/frank-geary-0.11.2_dev-x86_64.tar.zst
	sha256sums = SKIP

pkgname = frank-geary-bin
